* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* CLASSI UTILITY */
.container {
  width: 75%;
  margin: auto;
  position: relative;
}

.p_text_color {
  color: #808080;
}

.text_white {
  color: white;
}

.padding_20 {
  padding: 20px;
}

.bg_header {
  background: #0D325A;
}

.bg_white {
  background: white;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.col_4 {
  width: 33.3%;
  margin: 50px 0;
  text-align: center;
  padding: 0 20px;
}

.col_6 {
  width: 50%;
  margin: 50px 0;
  padding: 0 20px;
}

.padding_top_20 {
  padding: 20px 0;
}

.text_align_left {
  text-align: left;
}

.footer_color {
  background: #D3D3D3;
}

/* /CLASSI UTILITY */
/* HEADER */
#site_header {
  height: 400px;
}

/* navbar */
nav {
  padding: 20px;
}

ul {
  display: inline;
}

.navbar li, button {
  display: inline;
  margin: 0px 5px;
}

.navbar a {
  text-decoration: none;
  padding: 5px;
  font-size: 12px;
}

.menu_left, .menu_right {
  margin: 0px 5px;
}

.menu_left {
  width: 50%;
  display: inline;
}

.menu_right {
  width: 50%;
  display: inline;
  position: absolute;
  right: 0;
  text-align: right;
}

form {
  display: inline;
}

.button {
  border-radius: 5px;
  border: 1px;
  box-shadow: none;
  padding: 5px 20px;
  font-size: 12px;
}

.button_login {
  border-color: white;
  background: transparent;
  border-style: solid;
}

.button_strutturaunpiano {
  background: #7CBB02;
  border-style: none;
}

.button:hover {
  cursor: pointer;
}

/* /navbar */
/* /HEADER */
/* EFFICIENCY */
#efficiency {
  height: 150px;
  background: #D3D3D3;
  position: relative;
}

.efficiency_description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.efficiency_description h2 {
  margin-bottom: 1%;
}

/* /EFFICIENCY */
/* MAIN */
#site_main {
  display: block;
}

/* TOP ROW */
.row {
  text-align: center;
}

.row::after {
  display: table;
  content: "";
  clear: both;
}

.img_row {
  margin-bottom: 20px;
}

.h3_top_row {
  font-size: 170%;
  color: #7cbb02;
  font-weight: 400;
}

.hr_top_row {
  margin: 20px 40%;
  width: 20%;
}

.p_row_top {
  font-size: 120%;
}

/* /TOP ROW */
/* BOTTOM ROW */
.span_bottom_row {
  color: #5586bc;
}

.h2_bottom_row {
  font-size: 220%;
}

.p_row_bottom {
  font-size: 130%;
}

/* /BOTTOM ROW */
/* /MAIN */
/* FOOTER */
#site_footer {
  display: block;
}

#site_footer::after {
  content: "";
  display: table;
  clear: both;
}

.left_footer {
  display: inline;
  margin: 50px 0;
  padding: 0 20px;
  width: 50%;
}

.right_footer {
  display: inline;
  padding: 0 20px;
  width: 50%;
  text-align: right;
  margin: 50px 0;
}

.h2_footer {
  font-size: 200%;
}

label {
  margin: 30px;
  font-weight: 700;
}

.input_footer {
  border: 0px solid;
  background-color: transparent;
  width: 100px;
}

select {
  margin-right: 15px;
  width: 150px;
  font-size: 20px;
}

.button_footer {
  padding: 15px 20px;
  margin-left: 20px;
}

/* /FOOTER */
